@font-face {
    font-family: bebas;
    src: url('./Fontes/Bebas_Neue/BebasNeue-Regular.ttf');
}

body{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #723FA6, #BD70B4, #F19C61, #BD70B4, #723FA6);
    align-items: center;
    font-family: bebas;
}
p{
    font-family: bebas;
    text-align: center;
}
h1{
    font-family: bebas;
    color: #ffffff;
    text-align: center;
}
.titulo1{
    font-family: bebas;
    color: #ffffff; 
}
.titulo2{
    font-family: bebas;
    text-align: center;
    color: #ffffff;
}
.seção2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.seção1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quadradosecao1{
    display: flex;
    justify-content: space-evenly;
    background-color: #C8CFE0;
    width: 500px;
    border-radius: 10px;
    height: 300px;
    padding-top: 40px;
    gap: 130px;

}
.bloco1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 60px; 
    width: 25%;
    width: 33%;
}
.texto1{
    font-family: bebas;
    background-color: #C8CFE0;
    width: 200%;
    border-radius: 15px;
    margin-left: 23%;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    
}
.bloco2{
    display: flex;
    color: white;
    width: 40%;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    height: 300px;
    gap: 100px;
}
.texto2{
    font-family: bebas;
    background-color: #C8CFE0;
    width: 60%;
    border-radius: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.bloco3{
    display: flex;
    color: white;
    padding: 20px; 
    width: 50%;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.texto3{
    font-family: bebas;
    background-color: #C8CFE0;
    width: 60%;
    border-radius: 15px;
}
.conteudoparte1{
    font-family: bebas;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}
.conteudoparte2{
    font-family: bebas;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}
.subseção1{
    background-color: #C8CFE0;
    width: 70%;
    border-radius: 5%;
}
.subseção2{
    background-color: #C8CFE0;
    width: 70%;
    border-radius: 5%;
}
.subseção3{
    background-color: #C8CFE0;
    width: 70%;
    border-radius: 5%;
}
.subseção4{
    background-color: #C8CFE0;
    width: 70%;
    border-radius: 5%;
}
.integrantes{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.lideres{
    display: flex;
    flex-direction: row;
    gap: 200px;
}
.outros{
    display: flex;
    flex-direction: row;
    gap: 100px;
}
.pessoa1{
    background-color: #C8CFE0;
    width: 20%;
    border-radius: 5%;
}
.pessoa2{
    background-color: #C8CFE0;
    width: 20%;
    border-radius: 5%;
}
.pessoa3{
    background-color: #C8CFE0;
    width: 20%;
    border-radius: 5%;
}
.pessoa4{
    background-color: #C8CFE0;
    width: 20%;
    border-radius: 5%;
}
.pessoa5{
    background-color: #C8CFE0;
    width: 20%;
    border-radius: 5%;
}
.final{
    background-color: #C8CFE0;
    color: white;
    padding: 20px; 
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin-left: 23%;
    border-radius: 15px;
}
footer{
    font-family: bebas;
    background-color: #C8CFE0;
    color: black;
    padding: 20px; 
    display: flex;
    justify-content: space-between;
    border-radius: 50%;
    width: 98%;
    
}
ul{
    list-style-type: none;
}
.integrantes{
    display: flex;
    align-items: center;
}
img{
    width: 120px;
    height: 120px;
}
.caixafooter{
    background-color: #C8CFE0;
    display: flex;
    width: 100%;
    padding: 20px;
    align-items: end;
    
}
.bloco2 img{
    height: 300px;
    width: 400px;
    gap: 100px;
    border-radius: 15px ;
}
.bloco1 img{
    height: 230px;
    width: 300px;
    border-radius: 15px;
    box-shadow: black;
}