body{
    border-left: 250px solid #000020;
    border-right: 250px solid #000020;
    min-height: 100%;
    margin: 0;
}
html{
    height: 100%;
}
.barra_fixa{
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 73.95%;
}
.barra_fixa img{
    height: 70px;
    width: 70px; 
}
.barra_fixa #home{
    position: absolute;
    left: 90%;
}
.inicio img{
    height: 500px;
    width: 100%;
}
.titulo{
    position: absolute;
    width: 1500px;
    height: 500px; 
    background: #000020; 
    border-radius: 100%; 
    top: 240px;
    left: 210px;
}
.titulo img{
    position: absolute;
    left: 40%;
    top: 20%;
    height: 350px;
    width: 400px;
}